@import "@todocarnes/brand/montserrat.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: "Montserrat";
  --font-sans: "Montserrat";
}

body {
  font-family: "Montserrat", sans-serif;
}

@media screen {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

summary::-webkit-details-marker {
  display: none;
}
